In [3]:
x <- 10
y <- runif(1)*100
if(x>y){
    print("x>runif()")
}
print("--- End ---")

[1] "--- End ---"

In [4]:
x <- 10
y <- runif(1)*100
if(x>y){
    print("x>runif()")
}else {
    print("x<runif()")
}
print("--- End ---")

[1] "x<runif()"
[1] "--- End ---"

In [5]:
x <- 10
y <- runif(1)*100
if(x>y){
    print("x>runif()")
}else if(x<y){
    print("x<runif()")
}else {
    print("x=runif()")
}
print("--- End ---")

[1] "x<runif()"
[1] "--- End ---"

In [6]:
# 홀수 짝수 구분
a <- 1234 # vector일 경우 정확한 판단을 하지 못한다.
if (a%%2==0){
    cat(a,": 짝수")
    sprintf("%i : 짝수",a)
}else{
    cat(a,": 홀수")
}

1234 : 짝수

[1] "1234 : 짝수"

In [7]:
a <- c(8,8,7)
ifelse(a%%2 == 0, paste(a," : 짝수"), paste(a," : 홀수"))
paste(a,ifelse(a%%2 == 0, " : 짝수", " : 홀수"))

[1] "8  : 짝수" "8  : 짝수" "7  : 홀수"

[1] "8  : 짝수" "8  : 짝수" "7  : 홀수"

In [8]:
# 사용자로부터 data를 입력받아 숫자가 홀/짝인지 판단하여 출력하기
num1 <- as.integer(readline("숫자를 입력하세요 :"))

# 입력하신 숫자는 12이고 짝수입니다.
ifelse(num1%%2 == 0, 
       paste('입력하신 수는 ',num1,"이고 짝수입니다."), 
       paste('입력하신 수는 ',num1,"이고 홀수입니다."))
paste('입력하신 수는',num1,'이고',ifelse(num1%%2==0,"짝수","홀수"),'입니다.')

[1] "입력하신 수는  1 이고 홀수입니다."

[1] "입력하신 수는 1 이고 홀수 입니다."

In [9]:
n1 <- as.integer(readline("점수를 입력하세요 : "))
paste(ifelse(n1>=90, "A학점", 
             ifelse(n1>=80, "B학점", 
                    ifelse(n1>=70, "C학점"))), 
      '입니다.')

[1] "B학점 입니다."

---
### CSV file 사용하기

In [10]:
excel <- read.csv("../Data//excel.csv")
str(excel)

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

In [11]:
# q1 컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 data 출력하기
q1 <- excel$q1
length(q1)

[1] 402

In [12]:
print(ifelse(q1>=3, round(sqrt(q1),2),q1))

  [1] 2.00 1.00 2.00 1.73 1.73 2.00 1.73 2.00 2.00 2.00 2.00 1.73 1.73 1.73 1.00
 [16] 1.73 1.73 1.73 2.00 1.73 1.73 2.00 2.00 2.00 1.73 2.00 2.00 2.00 1.73 1.73
 [31] 1.00 1.73 1.73 1.73 2.00 1.73 2.00 2.00 1.73 2.00 2.00 2.00 1.73 1.73 2.00
 [46] 2.00 2.00 1.00 2.00 1.73 2.00 2.00 1.73 2.00 1.73 2.00 2.00 2.00 2.00 1.73
 [61] 2.00 2.00 2.00 1.73 1.73 1.73 1.73 2.00 1.00 2.00 1.73 1.73 1.73 2.00 2.00
 [76] 2.00 1.00 1.73 1.73 2.00 2.00 2.00 1.73 2.00 1.73 1.73 2.00 1.73 2.00 2.00
 [91] 2.00 2.00 2.00 2.00 1.00 2.00 2.00 2.00 2.00 2.00 1.73 1.73 2.00 1.73 1.73
[106] 2.00 2.00 2.00 2.00 2.00 2.00 2.00 1.73 2.00 2.00 2.00 1.73 1.73 1.73 2.00
[121] 1.00 1.73 2.00 1.73 1.73 2.00 1.73 1.73 1.73 2.00 2.00 2.00 1.00 1.73 1.73
[136] 2.00 1.73 2.00 1.73 1.00 2.00 1.73 2.24 2.00 1.73 1.73 2.00 2.00 1.73 2.00
[151] 1.73 1.73 1.00 1.73 2.00 2.00 1.73 1.73 2.00 2.00 2.00 2.00 2.00 2.00 1.73
[166] 1.73 1.73 2.00 2.00 2.00 1.00 1.73 1.73 2.00 1.73 2.00 1.73 1.00 2.00 1.73
[181] 2.24 2.00 1.73 1.73 2.00 2.00 1.73 2.00 1.73 1.73 1.00 1.73 2.00 2.00 2.00
[196] 2.00 2.00 2.00 2.00 1.73 2.00 2.00 2.00 1.73 1.73 1.73 2.00 1.00 1.73 2.00
[211] 1.73 1.73 2.00 1.73 1.73 1.00 1.73 1.73 2.00 1.73 2.00 1.73 1.00 2.00 1.73
[226] 2.24 2.00 1.73 1.73 2.00 2.00 1.73 2.00 1.73 1.73 1.00 1.73 2.00 2.00 1.73
[241] 1.73 2.00 2.00 2.00 2.00 2.00 2.00 1.73 1.00 1.73 2.00 2.00 2.00 2.00 2.00
[256] 2.00 2.00 1.73 2.00 2.00 2.00 1.73 1.73 1.73 2.00 1.00 1.73 2.00 1.73 1.73
[271] 2.00 2.00 1.73 2.00 1.73 1.73 1.00 1.73 2.00 2.00 1.73 1.73 2.00 2.00 2.00
[286] 2.00 2.00 2.00 1.73 1.00 1.73 2.00 2.00 2.00 2.00 2.00 2.00 2.00 1.73 2.00
[301] 2.00 2.00 1.73 1.73 1.73 2.00 1.00 1.73 1.73 2.00 2.00 1.73 2.00 1.73 1.73
[316] 1.00 1.73 2.00 2.00 1.73 1.73 2.00 2.00 2.00 2.00 2.00 2.00 1.73 1.00 1.73
[331] 2.00 2.00 2.00 2.00 2.00 2.00 2.00 1.73 2.00 2.00 2.00 1.73 1.73 1.73 2.00
[346] 1.00 2.00 1.73 1.73 1.00 1.73 2.00 2.00 1.73 1.73 2.00 2.00 2.00 2.00 2.00
[361] 2.00 1.73 1.00 1.73 2.00 2.00 2.00 2.00 2.00 2.00 2.00 1.73 2.00 2.00 2.00
[376] 1.73 1.73 1.73 2.00 1.00 1.73 2.00 1.73 1.73 2.00 2.00 1.73 2.00 1.73 1.73
[391] 1.00 1.73 2.00 2.00 1.73 1.73 2.00 2.00 2.00 2.00 2.00 2.00

In [22]:
# q1 컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 q6에 삽입 아니면 원래 data를 q6에 삽입
excel$q6 <- ifelse(q1>=3, round(sqrt(q1),2), q1); head(excel)

  q1 q2 q3 q4 q5 q6
1 2  4  4  2  2  2.00
2 1  2  2  2  2  1.00
3 2  3  4  3  3  2.00
4 3  5  5  3  3  1.73
5 3  2  4  4  4  1.73
6 4  3  3  4  2  2.00