# for문

In [15]:
# 1:10 출력
for(i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [2]:
for(i in c(1,3,5)){
    print(i)
}

[1] 1
[1] 3
[1] 5

In [3]:
for(i in seq(1,10,2)){
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [5]:
# 1:10 제곱근 구하기 
for(i in 1:10){
    print(sqrt(i))
}

[1] 1

[1] 1
[1] 1.414214
[1] 1.732051
[1] 2
[1] 2.236068
[1] 2.44949
[1] 2.645751
[1] 2.828427
[1] 3
[1] 3.162278

In [11]:
for(i in 1:10){
    cat(i,'=>',sqrt(i),'\n')
}

1 => 1
2 => 1.414214
3 => 1.732051
4 => 2
5 => 2.236068
6 => 2.44949
7 => 2.645751
8 => 2.828427
9 => 3
10 => 3.162278

In [20]:
excel <- read.csv("../data/excel.csv")

In [25]:
str(excel)

'data.frame':	402 obs. of  5 variables:
 $ q1: int  2 1 2 3 3 4 3 4 4 4 ...
 $ q2: int  4 2 3 5 2 3 4 2 4 2 ...
 $ q3: int  4 2 4 5 4 3 4 4 5 4 ...
 $ q4: int  2 2 3 3 4 4 2 4 3 2 ...
 $ q5: int  2 2 3 3 4 2 2 4 4 3 ...

In [40]:
# excel에서 q3 컬럼 데이터의 홀수 합과 짝수 합 구하기
# 홀수의 합은 604 이고 짝수의 합은 852 입니다
q3 <- excel$q3
sumEven <- 0; sumOdd <- 0;
for(i in q3){
    if(i%%2==0){
        sumEven = sumEven + i
    }else{
        sumOdd = sumOdd + i
    }
}
cat('홀수의 합은',sumOdd,'이고 짝수의 합은',sumEven,'입니다.')
#sum(q3[seq(1,length(q3),2)])

홀수의 합은 604 이고 짝수의 합은 852 입니다.

In [46]:
# excel$q3 컬럼 데이터 중 3의 배수 합 구하기
sum3 <- 0;
for(i in q3){
    if(i%%3==0){
        sum3 = sum3 + i
    }
}
cat(sum3)

216

In [51]:
# q3 데이터 중 3의 배수도 되고 4의 배수도 되는 수의 합을 구하기
sum34 <- 0;
for(i in q3){
    if(i%%3==0 && i%%4==0){
        sum34 = sum34 + i
    }
}
cat(sum34)

0

In [64]:
# 구구단 2단 출력하기
for(i in 1:9){
    for(j in 1:9){
        cat(i, 'X', j, '=', i*j,'\t')
    }
    cat('\n')
}

1 X 1 = 1 	1 X 2 = 2 	1 X 3 = 3 	1 X 4 = 4 	1 X 5 = 5 	1 X 6 = 6 	1 X 7 = 7 	1 X 8 = 8 	1 X 9 = 9
2 X 1 = 2 	2 X 2 = 4 	2 X 3 = 6 	2 X 4 = 8 	2 X 5 = 10 	2 X 6 = 12 	2 X 7 = 14 	2 X 8 = 16 	2 X 9 = 18
3 X 1 = 3 	3 X 2 = 6 	3 X 3 = 9 	3 X 4 = 12 	3 X 5 = 15 	3 X 6 = 18 	3 X 7 = 21 	3 X 8 = 24 	3 X 9 = 27
4 X 1 = 4 	4 X 2 = 8 	4 X 3 = 12 	4 X 4 = 16 	4 X 5 = 20 	4 X 6 = 24 	4 X 7 = 28 	4 X 8 = 32 	4 X 9 = 36
5 X 1 = 5 	5 X 2 = 10 	5 X 3 = 15 	5 X 4 = 20 	5 X 5 = 25 	5 X 6 = 30 	5 X 7 = 35 	5 X 8 = 40 	5 X 9 = 45
6 X 1 = 6 	6 X 2 = 12 	6 X 3 = 18 	6 X 4 = 24 	6 X 5 = 30 	6 X 6 = 36 	6 X 7 = 42 	6 X 8 = 48 	6 X 9 = 54
7 X 1 = 7 	7 X 2 = 14 	7 X 3 = 21 	7 X 4 = 28 	7 X 5 = 35 	7 X 6 = 42 	7 X 7 = 49 	7 X 8 = 56 	7 X 9 = 63
8 X 1 = 8 	8 X 2 = 16 	8 X 3 = 24 	8 X 4 = 32 	8 X 5 = 40 	8 X 6 = 48 	8 X 7 = 56 	8 X 8 = 64 	8 X 9 = 72
9 X 1 = 9 	9 X 2 = 18 	9 X 3 = 27 	9 X 4 = 36 	9 X 5 = 45 	9 X 6 = 54 	9 X 7 = 63 	9 X 8 = 72 	9 X 9 = 81

In [67]:
input <- as.numeric(readline('구구단 숫자를 입력하세요 : '))
for(j in 1:9){
    cat(input, 'X', j, '=', i*j,'\t')
}
cat('\n')

2 X 1 = 9 	2 X 2 = 18 	2 X 3 = 27 	2 X 4 = 36 	2 X 5 = 45 	2 X 6 = 54 	2 X 7 = 63 	2 X 8 = 72 	2 X 9 = 81

In [68]:
# 구구단 함수로 만들기 01
gugu <- function(){
    dan <- as.numeric(readline('구구단 숫자를 입력하세요 : '))
for(j in 1:9){
    cat(dan, 'X', j, '=', i*j,'\t')
}
cat('\n')
}

In [69]:
gugu()

4 X 1 = 9 	4 X 2 = 18 	4 X 3 = 27 	4 X 4 = 36 	4 X 5 = 45 	4 X 6 = 54 	4 X 7 = 63 	4 X 8 = 72 	4 X 9 = 81

In [70]:
# 구구단 함수 만들기 02, 매번 단 입력하기 귀찮다!
gugu <- function(x){
    for(j in 1:9){
        cat(x, 'X', j, '=', i*j,'\n')
    }
}

In [71]:
gugu(2)

2 X 1 = 9
2 X 2 = 18
2 X 3 = 27
2 X 4 = 36
2 X 5 = 45
2 X 6 = 54
2 X 7 = 63
2 X 8 = 72
2 X 9 = 81

In [74]:
# 구구단 함수 만들기 03
gugu <- function(x,y){
    for(j in 1:y){
        cat(x, 'X', j, '=', i*j,'\n')
    }
}

In [75]:
gugu(2,12)

2 X 1 = 9
2 X 2 = 18
2 X 3 = 27
2 X 4 = 36
2 X 5 = 45
2 X 6 = 54
2 X 7 = 63
2 X 8 = 72
2 X 9 = 81
2 X 10 = 90
2 X 11 = 99
2 X 12 = 108

In [79]:
# 구구단 전체 출력하기

    for(i in 2:9){
        for(j in 1:9){
            cat(i, 'X', j, '=', i*j,'\n')
        }
        cat('-----------------------------\n')
    }

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
-----------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
-----------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
-----------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
-----------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
-----------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
-----------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
-----------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
-----------------------------

In [127]:
# 2,4,6,8

    for(i in seq(2,8,2)){
        for(j in seq(2,8,2)){
            cat(i, 'X', j, '=', i*j,'\n')
        }
        cat('-----------------------------\n')
    }
for (i in seq(2,8,2)){
    cat(paste(i,'X',seq(2,8,2),'=',i*seq(2,8,2),'\n'),sep='')
    cat('-----------------------------\n')
}

2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
-----------------------------
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
-----------------------------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
-----------------------------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
-----------------------------
2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
-----------------------------
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
-----------------------------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
-----------------------------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
-----------------------------

In [84]:
# 2개의 벡터 자료를 함께 출력하기
name <- c('유비','관우','장비')
score <- c(85,95,89)
for(i in 1:length(score)){
    cat(name[i],':',score[i],'\n')
}

유비 : 85
관우 : 95
장비 : 89

In [92]:
for(i in score){
    cat(name[which(score==i)],':', i, '\n')
}

유비 : 85
관우 : 95
장비 : 89

In [120]:
j<-1
for(i in score){
    cat(name[j],':',i,'\n')
    j=j+1
}

# 벡터로 paste하여 한 번에 출력하기
cat(paste(name,":",score,'\n'),sep='')

유비 : 85
관우 : 95
장비 : 89
유비 : 85
관우 : 95
장비 : 89

### while

In [121]:
i <- 0
while(i<10){
    i = i +1
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### repeat

In [ ]:
# 괄호가 없다. 언제 끝나는지 정해줘야 함.
i <- 0
repeat{
    i = i +1
    if(i>10){
        break
    }
    print(i)
}